@import '~bootstrap/dist/css/bootstrap.min.css';

div.invalid-feedback{
    color: mediumvioletred;
}

label {
    font-size: 150%;
}

h2{
    margin-left: 15%;
    text-decoration: underline;
}

form{
    align-content: center;
}

div.form-group{
    margin-left: 15%;
}

input.form-control{
    font-size:120%;
    width: 50%;
}

button.btn-primary{
    // margin-left:10%;
    width: 15%;
    font-size:150%;
}

a.btn-link{
    // margin-left:10%;
    font-size:150%;
}