<div class="container">
    <h3>Remove Sector from your company</h3>
    <div style="width: 400px;">
        <form (ngSubmit)="onSubmit()">

            <div class="for3m-group">
                <label>Select Sector</label>
                <select [(ngModel)]="sector" class="form-control" id="sector" name="sector" placeholder="Select sector for company" required #code="ngModel">
                    <option *ngFor="let sec of company.sector" [ngValue]="sec">{{sec.name}}</option>
                </select>
            </div>


            <button type="submit" class="btn btn-success" style="margin-top: 40px;">Submit</button>
        </form>
    </div>
</div>