@import "~bootstrap/dist/css/bootstrap.css";

// p.curr-date{
//     float:right;
// }

// p.curr-time{
//     float:right;
// }

.mat-form-field{
    color:black;
}


mat-icon{
    // size: 0px;
    font-size: 20px;
    color: gray;
}

button.delete{
    border:none;
    background: none;
    // text-decoration: none;
    outline: none;
}



