<div class="container">
    <h3>Add Company-BOD</h3>
    <div style="width: 400px;">
        <form (ngSubmit)="onSubmit()">

            <div class="form-group ">
                <label for="Company-BOD ">Company-BOD </label>
                <input type="text " class="form-control " id="companyBod " required [(ngModel)]="companyBod" name="companyBod">
            </div>

            <button type="submit" class="btn btn-success" style="margin-top: 40px;">Submit</button>
        </form>
    </div>
</div>