<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
            <li style="margin-top: 10px;">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Manage Company                          
                        </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item " href="# ">
                            <!-- <a class="dropdown-item " [routerLink]="['add-company'] ">Add new Company</a> -->
                            <a class="dropdown-item " routerLink="/add-company" *ngIf="isAdmin">Add new Company</a>
                        </div>
                        <div class="dropdown-item" href="#">
                            <!-- <a class="dropdown-item" [routerLink]="['view-companies']">Show All Companies</a> -->
                            <a class="dropdown-item " routerLink="/view-companies">View Companies</a>
                        </div>
                    </div>
                </div>
            </li>

            <li style="margin-top: 10px;margin-left: 20px;">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Manage Sector                          
                        </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item " href="# ">
                            <!-- <a class="dropdown-item " [routerLink]="['add-sector'] ">Add new Sector</a> -->
                            <a class="dropdown-item " routerLink="/add-sector" *ngIf="isAdmin">Add new Sector</a>
                        </div>
                        <div class="dropdown-item" href="#">
                            <!-- <a class="dropdown-item" [routerLink]="['view-sectors']">Show All Sectors</a> -->
                            <a class="dropdown-item " routerLink="/view-sectors">View Sectors</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>