<div class="container">
    <form style="border:thin black solid; padding: 40px;">
        <div>
            <div class="form-group col-md-6 ">
                <label>Name</label>
                <input type="text" [(ngModel)]="stockExchange.name" name="name" />
            </div>
            <div class="form-group col-md-6 ">
                <label>Brief</label>
                <input type="text" [(ngModel)]="stockExchange.brief" name="brief" />
            </div>
            <div class="form-group col-md-6 ">
                <label>Remarks</label>
                <input type="text" [(ngModel)]="stockExchange.remarks" name="remarks" />
            </div>
            <div class="form-group col-md-6 ">
                <label>Contact ID</label>
                <input type="tel" [(ngModel)]="stockExchange.contactId" name="contactId" />
            </div>
            <div>
                <button type="Submit" (click)="addStockExchange()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

</div>