<!-- <div><a>Import Stocks (Excel) </a></div> -->

<!-- <a href="#">Add Exchange </a>
<a href="#">Edit Exchange </a> -->
<!-- <a (click)="toggleMode()">Add Stock </a> -->
<!-- <a (click)="getStocks()">Stocks </a> -->
<!-- <a href="#">Edit Stock </a> -->
<!-- <ui-switch>ABC</ui-switch> -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['stock']">Stock</a></li>
                <li><a [routerLink]="['stock-exchange']">Stock Exchange</a></li>
                <!-- <li class="active"><a [routerLink]="['']">Registration</a></li>
                <li class="active"><a [routerLink]="['stock-market']">Manage Exchange</a></li> -->
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>


