<!-- <div><a>Import Stocks (Excel) </a></div> -->

<!-- <a href="#">Add Exchange </a>
<a href="#">Edit Exchange </a> -->
<!-- <a (click)="toggleMode()">Add Stock </a> -->
<!-- <a (click)="getStocks()">Stocks </a> -->
<!-- <a href="#">Edit Stock </a> -->
<!-- <ui-switch>ABC</ui-switch> -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['stock']">Stock</a></li>
                <li><a [routerLink]="['stock-exchange']">Stock Exchange</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>


<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
            <li style="margin-top: 10px;">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Manage Stock                          
                        </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item ">
                            <a class="dropdown-item " routerLink="/stock">View Stocks</a>
                        </div>
                        <div class=" dropdown-item ">
                            <a class="dropdown-item " routerLink="/add-stock">Add Stock</a>
                        </div>
                        <div class="dropdown-item" href="#">
                            <a class="dropdown-item " routerLink="/edit-stock">Edit Stock</a>
                        </div>
                    </div>
                </div>
            </li>

            <li style="margin-top: 10px;margin-left: 20px;">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Manage Stock Exchange                          
                        </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item " href="# ">
                            <a class="dropdown-item " routerLink="/add-sector">Add new Exchange</a>
                        </div>
                        <div class="dropdown-item" href="#">
                            <a class="dropdown-item " routerLink="/view-sectors">Edit Exchange</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav> -->
