<a href="#">Import Stocks (Excel)  </a>
<a href="#">Add Exchange  </a>
<a href="#">Edit Exchange  </a>
<a (click)="toggleMode()">Add Stock  </a>
<a (click)="getStocks()">Stocks  </a>
<a href="#">Edit Stock  </a>

<div class="container" *ngIf="isAddMode" >
    <form style="border:thin black solid; padding: 40px;">
        <div>
            <div class="form-group col-md-6 ">
                <label>Stock Exchange</label>
                <select>
                    <option value="NSE">NSE</option>
                    <option value="BSE">BSE</option>
                </select>    
            </div>
            <div class="form-group col-md-6 ">
                <label>ID</label>
                <input type="number" [(ngModel)]="stock.id" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="form-group col-md-6 ">
                <label>Price</label>
                <input type="number" [(ngModel)]="stock.price"  [ngModelOptions]="{standalone: true}"/>
            </div>
            <!-- <div class="form-group col-md-6 ">
                <label>Close Price</label>
                <input type="number" [(ngModel)]="stock.closePrice" [ngModelOptions]="{standalone: true}"/>
            </div> -->
            <div class="form-group col-md-6 ">
                <label>Company Turnover</label>
                <input type="number" [(ngModel)]="stock.companyTurnover" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="form-group col-md-6 ">
                <label>Date</label>
                <input type="date" [(ngModel)]="stock.date" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="form-group col-md-6 ">
                <label>Date Time</label>
                <input type="datetime-local" [(ngModel)]="stock.dateTime" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="form-group col-md-6 ">
                <label>Company ID</label>
                <input type="number" [(ngModel)]="stock.companyId" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div>
                <button type="Submit" (click)="addStock()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

<!-- <div class="container">
    <form style="border:thin black solid; padding: 40px;">
        <div>
            <div class="form-group col-md-6 ">
                <label>Stock Exchange</label>
                <select>
                    <option>NSE</option>
                    <option>BSE</option>
                </select>    
            </div>
            <div class="form-group col-md-6 ">
                <label>ID</label>
                <input type="number"/>
            </div>
            <div class="form-group col-md-6 ">
                <label>Open Price</label>
                <input type="number"/>
            </div>
            <div class="form-group col-md-6 ">
                <label>Close Price</label>
                <input type="number"/>
            </div>
            <div class="form-group col-md-6 ">
                <label>Company Turnover</label>
                <input type="number"/>
            </div>
            <div class="form-group col-md-6 ">
                <label>Date</label>
                <input type="date"/>
            </div>
            <div class="form-group col-md-6 ">
                <label>Date Time</label>
                <input type="datetime-local"/>
            </div>
            <div class="form-group col-md-6 ">
                <label>Company ID</label>
                <input type="number"/>
            </div>
            <div>
                <button type="Submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
</div> -->